/*------------------------------------------------------------------------------
_colors.scss

version:    1.0
date:       06/12/2020
author:     LeDaniel Leung
email:      ledaniel.leung@gmail.com
website:    asianu.github.io
@use 'colors';
------------------------------------------------------------------------------*/

$launchpad-color:   #FFC2E4;
$camelliard-color:  #EDDED4;
$northrop-color:    #D1D8F0;
