/*------------------------------------------------------------------------------
index.html Screen Stylesheet

version:    1.0
date:       06/12/2020
author:     LeDaniel Leung
email:      ledaniel.leung@gmail.com
website:    asianu.github.io
@import url("styles.css");
------------------------------------------------------------------------------*/

//  Breakpoints
$bp-small:      48em;       //  768px
$bp-medium:     64em;       //  1024px
$bp-large:      86.375em;   //  1366px
$bp-xlarge:     120em;      //  1920px
$bp-xxlarge:    160em;      //  2560px

$bp-large-ft:   106em;

//  Media Queries
$mq-small:      "(min-width: #{$bp-small})";
$mq-medium:     "(min-width: #{$bp-medium})";
$mq-large:      "(min-width: #{$bp-large})";
$mq-xlarge:     "(min-width: #{$bp-xlarge})";
$mq-xxlarge:    "(min-width: #{$bp-xxlarge})";
$mq-retina:     "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

$mq-large-ft:   "(max-width: #{$bp-large-ft})";

@mixin project-background($color, 
                            $image, 
                            $size, 
                            $position, 
                            $repeat : no-repeat) {
    background-color: $color;
    background-image: $image;
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;
}

//  Transition default
$default-transition:    all 0.6s cubic-bezier(.2, .8, .4, 1);
$bounce-transition:     all 0.4s cubic-bezier(.2, .8, .4, 1.2);

/*  Creating default values by clearing variables and setting constants */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

.clear {
    clear: both;
}

.right {
    float: right;
}

.left {
    float: left;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.row:last-child {
    margin-bottom: 0em;
}

.col {
    display: flex;
    flex-flow: column wrap;
}

html {
    scroll-behavior: smooth;
}

body {
    //  the default font size is set to 10px, so all Xem values will be X*10
    font: 62.5%/1.5 "Lato", sans-serif;
    color: #000000;
    text-align: center;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

p {
    font-size: 1.2em;
}

/* Global classes */

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.centered {
    align-items: center;
    align-content: center;
    flex-flow: column wrap;
}

/* Navbar styling */

nav {
    width: 100%;
    height: 8em;
    position: fixed;
    background-color: white;
    z-index: 100;

    ul {
        width: 100%;
        height: 100%;
    }

    li {
        height: 100%;
        line-height: 100%;
        margin: auto;
        display: flex;
        align-items: center;

        a {
            color: black;
            text-decoration: none;
        }
    }

    .nav-brand a {
        margin-left: .5em;
        height: 75%;
        width: 2em;
        background-image: url("../img/logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        padding-left: 1.5em;
        font-size: 2em;
    }

    .nav-item:not(.nav-icon) {
        display: none;
    }

    //  for the hamburger menu
    .nav-icon {
        width: 36px;
        height: 36px;
        margin: 2em 2em;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        -webkit-transition: $default-transition;
        transition: $default-transition;
    }

    .nav-icon-burger {
        background: black;
        width: 28px;
        height: 2px;
        border-radius: 5px;
        position: absolute;

        -webkit-transition: $bounce-transition;
        transition: $bounce-transition;
    }

    .nav-icon-burger::before,
    .nav-icon-burger::after {
        content: '';
        position: absolute;
        background: black;
        width: 28px;
        height: 2px;
        border-radius: 5px;

        -webkit-transition: $bounce-transition;
        transition: $bounce-transition;
    }

    .nav-icon-burger::before {
        transform: translate(-14px, -8px);
    }

    .nav-icon-burger::after {
        transform: translate(-14px, 8px);
    }

    //  hamburger menu animation
    .nav-icon.nav-icon-clicked .nav-icon-burger {
        transform: rotate(45deg);
    }

    .nav-icon.nav-icon-clicked .nav-icon-burger::before {
        transform: rotate(0deg) translate(-16px, 0px);
    }

    .nav-icon.nav-icon-clicked .nav-icon-burger::after {
        transform: rotate(-90deg) translate(0px, -16px);
    }

    @media only screen and #{$mq-medium} {
        .nav-brand a {
            width: 0;
        }

        .nav-icon {
            display: none;
        }

        .nav-item:not(.nav-icon) {
            display: flex;
            padding: 0em 1.5em;
            font-size: 1.6em;
        }

        .nav-item:nth-child(2) {
            padding: 0em 3em 0em 1.5em;
        }
    }

    @media only screen and #{$mq-medium} {
        .nav-brand {
            font-size: 2.4em;
        }
    }
}

/* Header Styling */

header {
    width: 100%;
    height: 28em;
    padding-top: 24em;

    h1 {
        font-size: 4.8em;
    }

    p {
        font-size: 1.6em;
    }

}

/* Experience Styling */

#experience {
    padding: 4em 0em;

    .projects{
        width: 100%;

        .project-card {
            height: 28em;
            width: 100%;
            flex: 1 1 auto;

            -webkit-transition: $default-transition;
            transition: $default-transition;
        }

        @media only screen and #{$mq-medium} {

            width: 66.667%;

            .project-card.wide:hover {
                transform: scale(1.025, 1.025);
            }

            .project-card:hover {
                //cursor: pointer;
                -webkit-transform: scale(1.05, 1.05);
                transform: scale(1.05, 1.05);
            }
        }

        @media screen and #{$mq-large} {
            width: 50%;

            .project-card {
                height: 32em;
                width: 1em;
                margin: 0em 2em;

                box-shadow: inset 0px -4px 32px rgba(0, 0, 0, 0.1);
            }

            .row {
                margin-bottom: 4em;
            }

            .row:last-child {
                margin-bottom: 0em;
            }

            @media screen and #{$mq-large-ft} {
                .project-card {
                    height: 26em;
                }
            }
        }

    }

    h1 {
        margin-top: 2em;
    }

    h2 {
        color: grey;
        font-weight: normal;
        font-size: 1.6em;
    }

}

#launchpad {
    @include project-background(#FFC2E4, 
                                url("../img/Macbook - Launchpad.png"),
                                contain,
                                center 14em);
}

#camelliard {
    @include project-background(#EDDED4,
                                url("../img/Macbook - Camellia Rd.png"),
                                contain,
                                center 14em);
}

#northrop {
    @include project-background(#D1D8F0,
                                url("../img/NG-logo-small.png"),
                                24em,
                                center center);

    @media only screen and #{$mq-medium} {
        background-image: url("../img/NG-logo-large.png");
        background-size: 64em;
    }

    @media only screen and #{$mq-large} {
        background-size: 64em;

        @media screen and #{$mq-large-ft} {
            background-size: 60em;
        }   
    }
}


/* Contact div styling */

#contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;

    a.contact-circle {
        margin: 1em 2em;
        display: flex;
        width: 4.5em;
        height: 4.5em;
        border-radius: 50%;

        text-decoration: none;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        -webkit-transition: $default-transition;
        transition: $default-transition;

        background-color: #5C5C5C;
    }

    @media only screen and #{$mq-small} {
        padding-bottom: 0;
        width: 10em;
        top: 0px;
        left: 0px;
        position: fixed;
    }
}
