//  Transition default
$default-transition: 0.6s cubic-bezier(0.2, 0.8, 0.4, 1);
$short-transition: 0.3s cubic-bezier(0.2, 0.8, 0.4, 1);
$long-transition: 0.9s cubic-bezier(0.2, 0.8, 0.4, 1);
$bounce-transition: 0.4s cubic-bezier(0.2, 0.8, 0.4, 1.2);
