@use "variables" as *;

#About {
  width: 100%;
  height: 100vh;
}

#parallax {
  position: absolute;
  width: 180%; /* ie8 */
  height: auto;
  left: -20%;
  bottom: 20%;
  rotate: 12deg;
  opacity: 66%;
  background-color: $dark;
}
