nav {
  .navbar-brand {
    padding: 0.25em;

    img {
      width: 60px;
      height: 60px;
    }
  }

  .nav-item {
    padding: 0em 1em;
  }

  .nav-link {
    font-size: 1.2em;
    font-weight: normal;
  }
}
