@use "breakpoints" as bp;
@use "transitions" as trans;

$nav-brand-url: "../../img/logo240.png";

nav {
  width: 100%;
  background-color: white;
  z-index: 100;

  .navbar {
    height: 4em;
    position: fixed;
    top: 0;
  }
}
