/**	Filename: stylesheet.css
 *	Author: LeDaniel Leung
 *	Description: stylesheet for personal website.
**/

/***************************** CONSTANTS *****************************/
:root{

/****************************** COLOURS ******************************/
	--color-dusty: #96858F;
	--color-lavendar: #6D7993;
	--color-overcast: #9099A2;
	--color-paper: #D5D5D5;
	
	--color-sky: #CAEBF2;
	--color-carbon: #A9A9A9;
	--color-watermelon: #FF3B3F;
	--color-neutral: #FEFEFE;
}

/******************************* FONTS *******************************/
/* District Thin */
@font-face{
	font-family: 'District Thin';
	src: url('fonts/district_thin_pro/DistProTh.otf');
	font-weight: normal;
	font-style: normal;
}

/* Museo Sans Italic */
@font-face{
    font-family: 'Museo Sans Italic';
    src: url('fonts/MuseoSansItalic/MuseoSans_500_Italic-webfont.eot');
    src: url('fonts/MuseoSansItalic/MuseoSans_500_Italic-webfont.eot?#iefix')\
		format('embedded-opentype'),
         url('fonts/MuseoSansItalic/MuseoSans_500_Italic-webfont.woff2') format('woff2'),
         url('fonts/MuseoSansItalic/MuseoSans_500_Italic-webfont.woff') format('woff'),
         url('fonts/MuseoSansItalic/MuseoSans_500_Italic-webfont.ttf') format('truetype'),
         url('fonts/MuseoSansItalic/MuseoSans_500_Italic-webfont.svg#museo_sans500_italic')\
		format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Museo Sans */
@font-face{
    font-family: 'Museo Sans';
    src: url('fonts/MuseoSans/MuseoSans_500-webfont.eot');
    src: url('fonts/MuseoSans/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/MuseoSans/MuseoSans_500-webfont.woff2') format('woff2'),
         url('fonts/MuseoSans/MuseoSans_500-webfont.woff') format('woff'),
         url('fonts/MuseoSans/MuseoSans_500-webfont.ttf') format('truetype'),
         url('fonts/MuseoSans/MuseoSans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;
	
}

/********************** GENERAL ELEMENT STYLING **********************/
body{
	font-family: 'District Thin', Arial, sans-serif;
	background-color: var(--color-neutral);
	
}

div{
	position: absolute;
}

button{
	display: inline-block;
	position: relative;
	background-color: var(--color-carbon);
	border: none;
	height: 100%;
	width: auto;
	padding: 0 20px;
	text-align: center;
	
}

button:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 
		0 17px 50px 0 rgba(0,0,0,0.19);
	background-color: var(--color-sky);
	cursor: pointer;
}

button:click{
	
}

a button{
	font-size: 16px;
	color: black;
	font-family: 'District Thin', Arial, sans-serif;
	white-space: nowrap;
}


/************************ HOME PAGE ELEMENTS *************************/
/**************** Shared styling for header & footer *****************/
.navbar{
	position: fixed;
	width: 100%;
	right: 0px;
	left: 0px;
	vertical-align: middle;
	background-color: var(--color-carbon);
}

/******************* Styling for header + children *******************/
#header{
	height: 75px;
	top: 0px;
	text-align: right;
	line-height: 50px;
}

#_home{
	float: left;
	font-size: 24px;
}

/******************* Styling for footer + children *******************/
#footer{
	height: 100px;
	bottom: 0px;
	padding-left: 2em;
	text-align: left;
	line-height: 100px;	
}

#_facebook{
	height: 4em;
	content: url(Icon-Facebook.png);
}

#_linkedin{
	height: 3.875em; /* this icon is slightly */
	content: url(Icon-LinkedIn.png);
}

#_github{
	height: 4em;
	content: url(Icon-Github.png);
}

#footer img{
	margin-top: 1%;
	border-radius: 50%;
	background-repeat: no-repeat;
}

/******************** Styling for body + children ********************/
#body{
	top: 75px;
	bottom: 100px;
	left: 0px;
	right: 0px;
	
	overflow-y: scroll;
}

/**************** Styling for the HOME body template *****************/
.info{
	margin-top: 15%;
	margin-bottom: 5%;
	margin-left: 15%;
	margin-right: 50%;
	padding: 10px 40px;
	background-color: var(--color-sky);
	box-shadow: 8px 6px 20px 0px rgba(0,0,0,0.24), 
		17px 11px 50px 0px rgba(0,0,0,0.19);
}

#_profile{
	margin-top: 12.5%;
	margin-right: 15%;
	margin-left: 60%;
	
	box-shadow: 8px 6px 20px 0 rgba(0,0,0,0.24), 
		13px 11px 30px 0 rgba(0,0,0,0.19);
	
	/* size/content */
	height: 16em;
	border-radius: 50%;
	content: url(Picture-Profile.jpg);
}
