<!--Filename: index.html
    Author: LeDaniel Leung
    Description: home file for personal website.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Personal Website</title>
        <link rel="stylesheet" type="text/css" href="stylesheet.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
        <script type="text/javascript" src="/modules/main.js"></script>
        
    </head>
    
    <body>
        <div ng-app='personal' ng-controller='Controller'>
            <h1>{{ person.name }}</h1>
        
        </div>
    
    
    </body>


</html>