<!--Filename: index.html
	Author: LeDaniel Leung
	Description: home file for personal website.
-->
<!DOCTYPE html>
<html>
    <head>
		<!-- TODO: update -->
        <title>Personal Website</title>
		
		<!-- Load CSS -->
        <link rel="stylesheet" type="text/css" href="../assets/stylesheet.css">
        
		<!-- Load angular script -->
        <script 
			src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js">
		</script>
		
		<!-- Load local script -->
        <script type="text/javascript" src="/modules/main.js"></script>
        <script type="text/javascript" src="/controllers/LinkController.js"></script>
        <script type="text/javascript" src="/controllers/UserController.js"></script>
    </head>
    
    <body ng-app="personal">
		<div class="header">
			<!-- include contact info here as well as a more detailed personal summary -->
			<a href="#"><button>About Me</button></a>
			<!-- include links to projects, and any technical skills-->
			<a href="#"><button>Portfolio</button></a>
		
		</div>
        <div class="body" ng-controller="UserController">
			<div class="info">
				<h1>{{ person.name }}</h1>
				
				<!-- Personal Blurb -->
				<p>{{ person.description }}</p>
			</div>
			
			<img id="_profile"/>
        </div>
		
    
		<!-- for links to social media pages -->
		<div class="footer" ng-controller="LinkController">
			<a href="{{ facebook }}"><img id="_facebook"/></a>
			<a href="{{ linkedin }}"><img id="_linkedin"/></a>
			<a href="{{ github }}"><img id="_github"/></a>
		</div>
    </body>


</html>